.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
  padding-bottom: 60px;
  width: 100%;
  min-width: 0;
}

@media (max-width: 768px) {
  .content-wrapper {
    padding-bottom: 40px;
  }
}
